# Using Python script as a calculator
1. Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n

In [33]:
n = 10
r = 5
p = 100
A = p*(1+r/100)**n
A

162.8894626777442

Ans: option b

2. In a given string format operation, how will you print the given string.
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."

In [7]:
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."

Ans: option d

3. In a given sample string, How do you print a double quoted string in between a regular
string using the escape character?
Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.

In [30]:
sampleStr = "It goes without saying,\"{}\" and none can deny it."
doubleQuotedStr = "Time is Money"
CombinedStr = sampleStr.format(doubleQuotedStr)
print(CombinedStr)
print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying,"Time is Money" and none can deny it.
It goes without saying, "Time is Money", and none can deny it.

Ans: option A

4. x = lambda a,b: a//b
x(10,3)

In [32]:
x = lambda a,b: a//b 
x(10,3)

3

Ans: option b

5.What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

In [37]:
A = 10 
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

Ans: option c

6.What is the output of the following code

import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr1 = numpy.array(my_list1, dtype = int)

In [40]:
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr1 = numpy.array(my_list1, dtype = int)

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

ans: option C

7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s) is/are appropriate to slice the substring ‚ÄúLearn‚Äù?

In [47]:
string = "Machine Learning"

subString = string[slice(8,13,1)]
substring1 = string[8:14]

In [45]:
subString

'Learn'

In [48]:
substring1

'Learni'

and: option d

8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the
value 18?

In [49]:
mylist = [x for x in range(10, 25, 4)]

In [51]:
mylist.index(18)

2

ans: option b

9. Which of the following is true with respect to the below codes

In [52]:
num1 = 5**4
num2 = pow(5,4)

In [53]:
print(num1, num2)

625 625

ans: option A

10. A Python NameError exception is raised when:
a. Trying to access a variable which has not been defined
b. Trying to access a key in a dictionary that does not exist
c. Accessing a column with misspelled column name
d. Accessing the function from a module that has not been imported

Ans: option d

11.What type of exception will be raised for the code given below?

x = "String"
int(x)

a. NameError 
b. KeyError
c. ValueError
d. AttributeError

Ans: option c

12. A FileNotFoundError exception is raised by operating system errors when: -
a. Trying to create a file or directory which already exists
b. A file or directory is requested but does not exist in the working directory
c. Trying to run an operation without the adequate access rights
d. A directory operation, os.listdir() is requested on something which is not a
directory

ans: option B

13. Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: - a. Complex
b. Character c. Integer
d. Boolean

ans: option B

14.Which of the following variable(s) are character data type?
a. K= ‚Äú4‚Äù
b. J= ‚ÄúWelcome‚Äù c. L= ‚Äú?‚Äù
d. All of the above

ans: option d

15.Choose the symbol/s that does not have the ability to convert any values to string?
a. ( ) b. ‚Äú ‚Äù c. {} d. #

ans: option d

16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals respectively,

Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

In [77]:
my_dict = {"Country": ["India","China","Japan","Qatar", "France"], "State":["Delhi","Beijing","Tokyo","Doha","Marseilles"]}

In [84]:
index_to_replace = my_dict["State"].index("Marseilles")
my_dict["State"][index_to_replace] = "Paris"

In [92]:
my_dict["State"] = ["Paris" if state == "Marseilles" else state for state in my_dict["State"]]

In [93]:
my_dict

{'Country': ['India', 'China', 'Japan', 'Qatar', 'France'],
 'State': ['Delhi', 'Beijing', 'Tokyo', 'Doha', 'Paris']}

17. Create the tuples given below tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.
a. sum(tuple_1)
b. len(tuple_2)
c. tuple_2 + tuple_1 d. tuple_1[3] = 45

Ans: option d

18. How many elements in the following data structure?

s = {1,2,3,4,4,4,5,6}

In [101]:
s = {1,2,3,4,4,4,5,6}

ans: 6

19. Write a function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number N.

In [109]:
def pythagorean_triplets(N):
    triplets = []
    for a in range(1, N + 1):
        for b in range(a, N + 1):
            c = (a**2 + b**2)**0.5
            if c.is_integer() and c <= N:
                triplets.append((a, b, int(c)))
    return triplets

In [111]:
pythagorean_triplets(20)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]